body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f9f9f9;
}

.video-container {
    width: 70%;
    padding: 20px;
}

.sidebar {
    width: 50%;
    padding:50px;
    background-color: #fff;
    border-left: 1px solid #ccc;
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.thumbnail {
    margin: 40px 0;
    display: flex;
    align-items: center;
}

.thumbnail img {
    width: 120px;
    height: 80px;
    margin-right: 10px;
}
